<!DOCTYPE html>
<html>
    <head>
        <base href="{{ app.request.getSchemeAndHttpHost() }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Swagelok - купить в Москве по выгодным ценам | полный каталог оборудования{% endblock %}</title>
        <meta name="description" content="В нашем ассортименте представлен огромный выбор оборудования swagelok. Доставка по всей России. Наши работники всегда помогут с выбором swagelok, звоните">

       <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script type="text/javascript">
            var __cs = __cs || [];
            __cs.push(["setCsAccount", "4GWyv8ago6dR1YltOqygN8F5e2Sg6VO9"]);
        </script>
        <script type="text/javascript" async src="https://app.comagic.ru/static/cs.min.js"></script>
    </head>
    <body>
        {% block header %}
            {{ include('/samples/header.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ include('/samples/footer.html.twig') }}
        {% endblock %}

        {{ include('/samples/modal.html.twig') }}
        {{ include('/samples/toast.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
